body{
  padding: 30px;
}

.container{
  width: 1000px;
  margin: auto;
}

.catalog{
  display: flex;
  flex-wrap: wrap;
}

.col-l{width: 70%; padding-right: 50px;}
.col-r{width: 30%;}

.products_list{
  display: flex;
  margin-left: -15px;
  margin-right: -15px;
}

.product__title{
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 14px;
}

.product__item {
  margin-bottom: 40px;
  padding: 15px;
}

.product__articul{
  font-size: 13px;
  color: #9cacad;
  display: inline-block;
  padding: 5px 10px;
  background: #e3f4f5;
  border-radius: 3px;
}

.product__photo{
  margin-bottom: 20px;
}

.product__photo img{
  max-width: 100%;
  border-radius: 5px;
}

.product__price{
  display: flex;
  align-items: baseline;
  margin-bottom: 10px;
}

.product__main_price{
  margin-right: 10px;
  font-size: 25px;
}

.product__main_oldprice{
  font-size: 15px;
  color: red;
  text-decoration: line-through;
}

.cart{
  background: #eff3f3;
  padding: 30px;
  border-radius: 10px;
}

.cart__product {
  margin-bottom: 30px;
  padding-bottom: 30px;
  display: flex;
  border-bottom: 1px solid #d8d8d8;
  position: relative;
}

.cart__product_total{
  font-size: 18px;
  margin-top: 15px;
}

.cart__total_sum{
  font-size: 23px;
}

.cart__info{
  display: flex;
  justify-content: space-between;
}

.cart__total_discount{
  font-size: 23px;
  color: red;
  text-decoration: line-through;
}

.cart__info_item-discount{text-align: right;}

.cart__product_delete {
  background: #596e7e;
  width: 20px;
  height: 20px;
  position: absolute;
  left: -7px;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 15px;
  display: flex;
  cursor: pointer;
}

.cart__product_delete:hover{
  background-color: #ff4242;
}

.cart__product_delete span{
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.cart__product:last-child{
  border: none;
  padding-bottom: 0px;
}

.cart__product_col-r{
  padding-left: 15px;
}

.cart__product_photo{
  width: 60px;
  border-radius: 5px;
  margin-bottom: 10px;
  margin-top: 5px;
}

.cart__product_name{
  font-size: 14px;
  color: #a7a7a7;
}

.cart__product_name{
  margin-top: 3px;
}

.cart__product_name a{
  color: #111;
}

.cart__product_name a:hover{
  color: #111;
}

.cart__product_category, .cart__product_articul{
  font-size: 13px;
  color: #a8afaf;
}

.cart__product_price{
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
  align-items: center;
}

.cart__product_mainPrice{
  margin-right: 10px;
  font-size: 18px;
}

.cart__product_oldPrice{
  font-size: 14px;
  color: red;
  text-decoration: line-through;
}


/*===========input number===========*/
.quantity {
  position: relative;
  width: 36px;
  display: inline-block;
  margin-right: 20px;
  margin-left: 20px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button
{
  -webkit-appearance: none;
  margin: 0;
}

input[type=number]
{
  -moz-appearance: textfield;
}

.quantity input {
  width: 36px;
  height: 34px;
  line-height: 1.65;
  display: block;
  padding: 0;
  margin: 0;
  padding-left: 0px;
  border: 1px solid #eee;
  text-align: center;
}

.quantity input:focus {
  outline: 0;
}

.quantity-nav {
  position: relative;
  height: 0px;
  width: 100%;
}

.quantity-button {
  position: relative;
  cursor: pointer;
  border-left: 1px solid #eee;
  width: 20px;
  text-align: center;
  color: #333;
  font-size: 13px;
  line-height: 1.7;
}

.quantity-button.quantity-up {
  position: absolute;
  height: 32px;
  bottom: 0px;
  border-bottom: 1px solid #e7e7e7;
  background: #d8d8d8;
  padding-top: 3px;
  right: -19px;
}


.quantity-button.quantity-down {
  position: absolute;
  height: 32px;
  border-bottom: 1px solid #e7e7e7;
  bottom: 0;
  background: #d8d8d8;
  padding-top: 3px;
  left: -19px;
}
/*===========input number===========*/